{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    <h1>Urls:</h1>
    <ul class="list-group">
    {% for site_url in urls_list %}
        <li class="list-group-item">
            <a href="{{ site_url.url }}" target="_blank">{{ site_url.url }}</a>
            <a class="bnt pull-right" href="{% url 'delete_url' site_url.id %}" >{% bootstrap_icon "remove" %}</a>
        </li>
    {% endfor %}
    </ul>

    <h2>Add new url:</h2>
    <form action="{% url 'urls_list' %}" method="post">{% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Create</button>
        {% endbuttons %}
    </form>
{% endblock %}